<div class="sign-form">
    <form class="row g-3" method="GET" action="">

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <label for="inputEmail" class="visually-hidden">Email</label>
            <input
                type="text"
                class="form-control"
                id = "inputEmail"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
            />
        </div>

        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input
                type="password"
                name="pw"
                class="form-control"
                id="inputPassword2"
                placeholder="Password"
            />
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
        </div>

    </form>
</div>